---
layout: page
title: Categories
bigimg: /img/category.jpg
---
<style>
.title{
    color: #A4000B;
    font-weight: bold;
}
.date{
  color: #BDBDBD;
  font-size: 12px;
}
a.one:link {color:#000000;}
a.one:visited {color:#000000;}
a.one:hover {color:#A4000B;}

.site-tag a {
    display: inline-block;
    margin-right: 12px;
    color: #A4000B;
}

</style>
<h3 class="title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;Tags</h3>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag">
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% endfor %}
<hr>
<p>
<h3 class="title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;Python</h3>
  <ul>
    {% for post in site.categories.python %}
    <li><a class="one" href="{{ post.url }}">{{ post.title }}</a>   <font class="date">({{ post.date | date: "%B %-d, %Y" }})</font></li>
    {% endfor %}
  </ul>
</p>
<p>
  <h3 class="title"><h3 class="title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;Machine Learning</h3>
    <ul>
    	{% for post in site.categories.machinelearning %}
    	<li><a class="one" href="{{ post.url }}">{{ post.title }}</a>   <font class="date">({{ post.date | date: "%B %-d, %Y" }})</font></li>
    	{% endfor %}
    </ul>
</p>
<p>
  <h3 class="title"><h3 class="title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;C/C++</h3>
    <ul>
    	{% for post in site.categories.ccplus %}
    	<li><a class="one" href="{{ post.url }}">{{ post.title }}</a>   <font class="date">({{ post.date | date: "%B %-d, %Y" }})</font></li>
    	{% endfor %}
    </ul>
</p>
<p>
  <h3 class="title"><h3 class="title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;git</h3>
    <ul>
    	{% for post in site.categories.github_blog %}
    	<li><a class="one" href="{{ post.url }}">{{ post.title }}</a>   <font class="date">({{ post.date | date: "%B %-d, %Y" }})</font></li>
    	{% endfor %}
    </ul>
</p>
<p>
  <h3 class="title"><h3 class="title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;Today I Learned</h3>
    <ul>
    	{% for post in site.categories.TIL %}
    	<li><a class="one" href="{{ post.url }}">{{ post.title }}</a>   <font class="date">({{ post.date | date: "%B %-d, %Y" }})</font></li>
    	{% endfor %}
    </ul>
</p>
<p>
    <h3 class="title"><h3 class="title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;ETC</h3>
      <ul>
      	{% for post in site.categories.etc %}
      	<li><a class="one" href="{{ post.url }}">{{ post.title }}</a>   <font class="date">({{ post.date | date: "%B %-d, %Y" }})</font></li>
      	{% endfor %}
      </ul>
</p>
<hr>
